<!-- mi-componente.component.html -->

<body class="container-fluid bg-dark text-light">
    <div class="container mt-4 mb-4">
        <div class="row">
            <!-- Columna para la imagen -->
            <div class="col-md-3">
                <img src="../assets/photo1.jpg" alt="Mi Imagen" class="img-fluid rounded-circle"
                    style="object-fit: cover">
            </div>

            <!-- Columna para el contenido principal -->
            <div class="col-md-9">
                <h1 class="text-white">Cristian Bedoya Monsalve</h1>
                <h4 class="text-white ">Desarrollador de software</h4>

                <div class="text-white mt-2 text-justify">
                    <p>Técnico en Desarrollo de Software con conocimientos en HTML, CSS, C#, .NET, Angular, SQL Server y
                        JavaScript. Mi distinción se fundamenta en valores como la responsabilidad y el respeto,
                        reflejándose en mi compromiso incuestionable con cada tarea que asumo. Mi manejo en Bootstrap me
                        permite crear interfaces de usuario atractivas y responsivas de manera eficiente, asegurando una
                        presentación visualmente agradable y funcional de los proyectos. Además, mi destreza en el
                        manejo de Git facilita la colaboración y el control de versiones, garantizando un desarrollo de
                        software organizado y colaborativo.</p>
                    <p>Adicionalmente, mi actitud positiva, habilidades de liderazgo y disposición para trabajar en
                        equipo son atributos que me distinguen. Estos elementos me permiten contribuir de manera
                        efectiva al logro de objetivos y al éxito de los proyectos en los que participo, garantizando un
                        impacto positivo y duradero en cada iniciativa.</p>
                </div>
            </div>
        </div>

        <!-- Menú de navegación con redes sociales -->
        <div class="bg-primary">
            <nav class="navegacion-principal contenedor">
                <a href="https://www.facebook.com/CristianBedoyaMonsalve" target="_blank">Facebook</a>
                <a href="https://www.linkedin.com/in/cristian-bedoya-monsalve-3711a829a/" target="_blank">Linkedin</a>
                <a href="mailto:cristianbm365@gmail.com" target="_blank">Contacto</a>
            </nav>
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
                <div>
                    <h2 class="text-white text-center mb-4">Habilidades</h2>

                    <ul class="list-group">
                        <li class="list-group-item">Manejo de HTML, C#, CSS, JS, .NET y Angular.</li>
                        <li class="list-group-item">Base de datos: SQL Server y MySQL.</li>
                        <li class="list-group-item">Adaptación asertiva a los diferentes cambios.</li>
                        <li class="list-group-item">Analítico y eficiente a la hora de tomar decisiones.</li>
                        <li class="list-group-item">Resolución de Problemas y Pensamiento Lógico.</li>
                    </ul>
                </div>
                <div class="mt-4">
                    <h2 class="text-white text-center">Educación</h2>
                    <div>
                        <h3>Cesde</h3>
                        <p>Técnico en Desarrollo de Software</p>
                    </div>
                    <div>
                        <h4>Blendex</h4>
                        <p>Inglés A1, A2, B1.</p>
                    </div>
                </div>
                <div class="mt-4 text-justify">
                    <h2 class="text-white text-center">Experiencia Laboral</h2>
                    <div>
                        <h3>Comfama</h3>
                        <h4>Gestor de proyectos de vivienda</h4>
                        <p>Experiencia en la revisión de proyectos de vivienda ejecutados por oferentes asociados a la
                            caja de compensación. Realización de visitas a obras ejecutadas para validar que el proyecto
                            se haya llevado a cabo conforme a su aprobación. Encargado de asignar visitas para realizar
                            los desembolsos correspondientes a los subsidios.</p>
                    </div>
                    <div>
                        <h3>Comfama</h3>
                        <h4>Practicante</h4>
                        <p>Practicante en el apoyo del análisis de proyectos de hábitat</p>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <h2 class="text-white text-center mb-4">Proyectos web</h2>

                <div class="container">
                    <div class="row">
                        <!-- Tarjeta 1 -->
                        <div class="card col-md-6 mb-3 card-sm">
                            <img src="../assets/dev.webp" class="card-img-top" alt="Imagen de la tarjeta">
                            <div class="card-body">
                                <h5 class="card-title">Título de la Tarjeta</h5>
                                <p class="card-text">Descripción de la tarjeta.</p>
                                <a href="#" class="btn btn-primary">Ir al enlace</a>
                            </div>
                        </div>

                        <!-- Tarjeta 2 -->
                        <div class="card col-md-6 mb-3 card-sm">
                            <img src="../assets/dev.webp" class="card-img-top" alt="Imagen de la tarjeta">
                            <div class="card-body">
                                <h5 class="card-title">Título de la Tarjeta</h5>
                                <p class="card-text">Descripción de la tarjeta.</p>
                                <a href="#" class="btn btn-primary">Ir al enlace</a>
                            </div>
                        </div>

                        <!-- Tarjeta 3 -->
                        <div class="card col-md-6 mb-3 card-sm">
                            <img src="../assets/dev.webp" class="card-img-top" alt="Imagen de la tarjeta">
                            <div class="card-body">
                                <h5 class="card-title">Título de la Tarjeta</h5>
                                <p class="card-text">Descripción de la tarjeta.</p>
                                <a href="#" class="btn btn-primary">Ir al enlace</a>
                            </div>
                        </div>

                        <!-- Tarjeta 4 -->
                        <div class="card col-md-6 mb-3 card-sm">
                            <img src="../assets/dev.webp" class="card-img-top" alt="Imagen de la tarjeta">
                            <div class="card-body">
                                <h5 class="card-title">Título de la Tarjeta</h5>
                                <p class="card-text">Descripción de la tarjeta.</p>
                                <a href="#" class="btn btn-primary">Ir al enlace</a>
                            </div>
                        </div>

                        <div class="container">
                            <div class="fixed-bottom-right d-md-block">
                                <div class="row mt-4 justify-content-end">
                                    <a href="https://api.whatsapp.com/send?phone=3215032191" target="_blank" class="text-white">
                                        <img src="../assets/WhatsApp_icon.png.webp" alt="Contacto WhatsApp" style="width: 80px; height: auto;" class="mr-2">
                                    </a>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</body>